a(ui-sref="upload") Click here to go to /upload
section
	.wrapper
		h2.week-range 👉 This week
			span {{ startFirstWeek.toISOString() | date : 'MMM dd' }}—{{ endFirstWeek.toISOString() | date : 'MMM dd' }} 
		ul.event-list
			li(style="order: 1") Subscribe now
			li(ng-repeat="event in eventData | filterWeek : startFirstWeek : endFirstWeek" style="order: {{$index}}")
				a(ui-sref="event-detail({eventId: event.$id})")
					.image-container
						img(ng-src="{{ event.image }}")
					.event-content
						h3 {{event.title}}
						ul
							li
								include ../img/calendar.svg
								span(ng-show="event.days") {{ event.days }}
								span(ng-hide="event.days") {{event.startDate | date}}—{{event.endDate | date}}
							li
								include ../img/clock.svg
								span {{event.startDate | date : 'h:mma'}}
							li
								include ../img/map-marker.svg
								span {{event.location}}
							li
								include ../img/credit-card.svg
								span(ng-hide="event.price") Free
								span(ng-show="event.price") {{event.price}}
		h2.week-range {{ startNextWeek.toISOString() | date : 'MMM dd' }}—{{ endNextWeek.toISOString() | date : 'MMM dd' }}
		ul.event-list
			li(ng-repeat="event in eventData | filterWeek : startFirstWeek : endFirstWeek" style="order: {{$index}}")
				a(ui-sref="event-detail({eventId: event.$id})")
					.image-container
						img(ng-src="{{ event.image }}")
					.event-content
						h3 {{event.title}}
						ul
							li
								include ../img/calendar.svg
								span(ng-show="event.days") {{ event.days }}
								span(ng-hide="event.days") {{event.startDate | date}}—{{event.endDate | date}}
							li
								include ../img/clock.svg
								span {{event.startDate | date : 'h:mma'}}
							li
								include ../img/map-marker.svg
								span {{event.location}}
							li
								include ../img/credit-card.svg
								span(ng-hide="event.price") Free
								span(ng-show="event.price") {{event.price}}
		h2.week-range {{ startThirdWeek.toISOString() | date : 'MMM dd' }}—{{ endThirdWeek.toISOString() | date : 'MMM dd' }}
		ul.event-list
			li(ng-repeat="event in eventData | filterWeek : startFirstWeek : endFirstWeek" style="order: {{$index}}")
				a(ui-sref="event-detail({eventId: event.$id})")
					.image-container
						img(ng-src="{{ event.image }}")
					.event-content
						h3 {{event.title}}
						ul
							li
								include ../img/calendar.svg
								span(ng-show="event.days") {{ event.days }}
								span(ng-hide="event.days") {{event.startDate | date}}—{{event.endDate | date}}
							li
								include ../img/clock.svg
								span {{event.startDate | date : 'h:mma'}}
							li
								include ../img/map-marker.svg
								span {{event.location}}
							li
								include ../img/credit-card.svg
								span(ng-hide="event.price") Free
								span(ng-show="event.price") {{event.price}}