.wrapper
	header
		h1 This week in Utah

	section
		h2.week-range {{ startFirstWeek.toISOString() | date : 'MMM dd' }}—{{ endFirstWeek.toISOString() | date : 'MMM dd' }}
		ul.event-list
			li(ng-repeat="event in eventData | filterWeek : startFirstWeek : endFirstWeek")
				.image-container
					img(ng-src="{{ event.image }}")
				.event-content
					h3 {{event.title}}
					span {{event.date | date}}
					span {{event.date | date : 'h:mm'}}
		h2.week-range {{ startNextWeek.toISOString() | date : 'MMM dd' }}—{{ endNextWeek.toISOString() | date : 'MMM dd' }}
		ul.event-list
			li(ng-repeat="event in eventData | filterWeek : startNextWeek : endNextWeek")
				.image-container
					//-img(ng-src="{{ imageURLs[event.image] }}")
				.event-content
					h3 {{event.title}}
					span {{event.date | date}}
					span {{event.date | date : 'h:mm'}}
		h2.week-range {{ startThirdWeek.toISOString() | date : 'MMM dd' }}—{{ endThirdWeek.toISOString() | date : 'MMM dd' }}
		ul.event-list
			li(ng-repeat="event in eventData | filterWeek : startThirdWeek : endThirdWeek")
				.image-container
					img(ng-src="{{ event.image }}")
				.event-content
					h3 {{event.title}}
					span {{event.date | date}}
					span {{event.date | date : 'h:mm'}}
