p You're viewing the main template.
h2 {{ startFirstWeek.toISOString() | date : 'MMM dd' }}—{{ endFirstWeek.toISOString() | date : 'MMM dd' }}
ul.event-list
	li(ng-repeat="event in eventData | filterWeek : startFirstWeek : endFirstWeek")
		.image-container
		.event-content
			h3 {{event.title}}
			span {{event.date | date}}
			span {{event.date | date : 'h:mm'}}
hr
h2 {{ startNextWeek.toISOString() | date : 'MMM dd' }}—{{ endNextWeek.toISOString() | date : 'MMM dd' }}
ul.event-list
	li(ng-repeat="event in eventData | filterWeek : startNextWeek : endNextWeek")
		.image-container
			//-img(ng-src="{{ imageURLs[event.image] }}")
		.event-content
			h3 {{event.title}}
			span {{event.date | date}}
			span {{event.date | date : 'h:mm'}}
hr
h2 {{ startThirdWeek.toISOString() | date : 'MMM dd' }}—{{ endThirdWeek.toISOString() | date : 'MMM dd' }}
ul.event-list
	li(ng-repeat="event in eventData | filterWeek : startThirdWeek : endThirdWeek")
		.image-container
			img(ng-src="{{ event.imageURL }}")
		.event-content
			h3 {{event.title}}
			span {{event.date | date}}
			span {{event.date | date : 'h:mm'}}
