h1 {{ test }}
form
	div
		label 
			h3 Title (Ex: Lights at Temple Square)
		input(type="text" placeholder="Title")
	div
		label 
			h3 Description (What's going on?)
		textarea(placeholder="Description")
	div
		label 
			h3 Location (ex: Salt Lake City)
		input(type="text" placeholder="Location")
	div
		input(type="date")
		input(type="time")