
<h1>{{ test }}</h1>
<form>
  <div>
    <label> 
      <h3>Title (Ex: Lights at Temple Square)</h3>
    </label>
    <input type="text" placeholder="Title"/>
  </div>
  <div>
    <label> 
      <h3>Description (What's going on?)</h3>
    </label>
    <textarea placeholder="Description"></textarea>
  </div>
  <div>
    <label> 
      <h3>Location (ex: Salt Lake City)</h3>
    </label>
    <input type="text" placeholder="Location"/>
  </div>
  <div>
    <input type="date"/>
    <input type="time"/>
  </div>
</form>